.venv/
__pycache__/
*.pyc

data/raw/*
data/processed/*
outputs/reports/*
outputs/networks/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/reports/.gitkeep
!outputs/networks/.gitkeep

.DS_Store
.vscode/
